@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,900;1,300;1,700&display=swap');
#place{
    margin-bottom: 50px;
    width: 600px;
    height: 600px;
    align-items: center;
    text-align: center;
    margin: 20px 30%;
}
.cell{
    width: 100px;
    height: 100px;
    background-color: #FFF4F4;
    margin-right: 2%;
    margin-bottom: 2%;
  display: inline-block;
  padding: 0px 0% 5% 5%;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px 10px   #016A70;
  cursor:-webkit-zoom-out;
  border-radius: 9px;
  text-align: center;
}
.cell:hover{
  width: 70px;
  height: 70px;
  background-color: #FFF4F4;
  margin-right: 2%;
  margin-bottom: 2%;
display: inline-block;
padding: 0px 0% 5% 5%;
border-style: solid;
border-width: 2px;
box-shadow: 5px 5px 10px   #016A70;
cursor:-webkit-zoom-out;
border-radius: 9px;
text-align: center;
}


.second{
    margin-top: 5%;
    margin-bottom: 5%;
}
.h{
    margin: 10%;
     font-family: 'Pacifico', cursive;
     color: #FF2171;
     font-size: 50px;
}
.head{
  font-family: 'Pacifico', cursive;
     color: #FF2171;
     font-size: 50px;
}
button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: wheat;
    background:#FF2171 ;
  
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 5%;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #176B87;
    box-shadow: 0 0 60px #176B87;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: wheat    ;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #FF2171;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }



body{
    background-color: #9BE8D8;
}
.imagebox{
width: 0;
transition: width 1s ease-in-out;
}
@media only screen and (max-width: 800px) {
  #place{
    margin-bottom: 50px;
    width: 500px;
    height: 500px;
    align-items: center;
    text-align: center;
    margin: 5px 2%;
}
.cell{
    width: 50px;
    height: 50px;
    background-color: #FFF4F4;
    margin-right: 2%;
    margin-bottom: 2%;
  display: inline-block;
  padding: 0px 0% 5% 5%;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px 10px   #016A70;
  cursor:-webkit-zoom-out;
  border-radius: 9px;
  text-align: center;
}
.cell:hover{
  width: 30px;
  height: 30px;
  background-color: #FFF4F4;
  margin-right: 2%;
  margin-bottom: 2%;
display: inline-block;
padding: 1% 1% 5% 5%;
border-style: solid;
border-width: 2px;
box-shadow: 5px 5px 10px   #016A70;
cursor:-webkit-zoom-out;
border-radius: 9px;
text-align: center;
}


.second{
    margin-top: 2%;
    margin-bottom: 2%;
}
.h{
    margin: 5%;
     font-family: 'Pacifico', cursive;
     color: #FF2171;
     font-size: 50px;
}
.head{
  font-family: 'Pacifico', cursive;
     color: #FF2171;
     font-size: 20px;
}
button {
    min-width: 100px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: wheat;
    background:#FF2171 ;
  
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 5%;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(40px + 12px);
    border: 6px solid #176B87;
    box-shadow: 0 0 60px #176B87;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: wheat    ;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #FF2171;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }



body{
    background-color: #9BE8D8;
}
.imagebox{
width: 0;
transition: width 1s ease-in-out;
}

} 